aiohttp
aiogram>=3.0.0
beautifulsoup4
databases[sqlite]
fastapi
uvicorn
pyyaml
python-jose[cryptography]
passlib[bcrypt]
python-multipart
playwright
fake-useragent
pytest
pytest-asyncio
pytest-cov
ruff
httpx2
fastapi-mail

fastapi-mail